---
import BadgeContact from "./BadgeContact.astro";
---

<section class='flex flex-col gap-4'>
  <h2 class='text-4xl font-semibold py-6'>Contact</h2>
  <div class='flex flex-row gap-2'>
    <BadgeContact image='github' link='/#'>Github</BadgeContact>
    <BadgeContact image='linkedin' link='/#'>Linkedin</BadgeContact>
    <BadgeContact image='instagram' link='/#'>Instagram</BadgeContact>
    <BadgeContact image='mail' link='/#'>Email</BadgeContact>
    <BadgeContact link='/#'>✨Look that CV</BadgeContact>
  </div>
</section>
