---
const year = new Date().getFullYear();
---
<footer class="py-10">
    <div class="flex flex-col justify-center items-center gap-7">
        <ul class="flex flex-row justify-center gap-8">
            <li class="opacity-70 hover:opacity-100 trasnition duration-150 hover:scale-105"><a class=" flex p-2 rounded-full border-2 border-[#fdebf3]" href="/#" target="_blank"><img src="./github.svg" alt="github" loading="lazy" class="size-8"></a></li>
            <li class="opacity-70 hover:opacity-100 trasnition duration-150 hover:scale-105"><a class=" flex p-2 rounded-full border-2 border-[#fdebf3]" href="/#" target="_blank"><img src="./linkedin.svg" alt="linkedin" loading="lazy" class="size-8"></a></li>
            <li class="opacity-70 hover:opacity-100 trasnition duration-150 hover:scale-105"><a class=" flex p-3 rounded-full border-2 border-[#fdebf3]" href="/#" target="_blank"><img src="./mail.svg" alt="mail" loading="lazy" class="size-6"></a></li>
        </ul>
        
        <small>&copy; {year} by <a class="opacity-70 hover:opacity-100" href="https://github.com/NicolasEsc10">NicolasEsc10</a>. All Rights Reserved.</small>
    </div>
</footer>
