---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/jetbrains-mono";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/brackets.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class='flex flex-col justify-center gap-8 mx-auto w-[80%] max-w-[850px] py-6'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }
  html {
    font-family: "JetBrains Mono Variable", system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    display: flex;
    justify-content: center;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    text-decoration: underline #3c445c;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1rem;
    margin-bottom: 0;
  }
</style>
